aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.2.0
beautifulsoup4==4.10.0
boto3==1.18.50
botocore==1.21.50
certifi==2022.12.7
cffi==1.14.6
chardet==4.0.0
charset-normalizer==2.0.6
discord.py==1.7.3
feedparser==6.0.8
idna==3.2
jmespath==0.10.0
multidict==5.1.0
pycparser==2.20
PyNaCl==1.4.0
python-dateutil==2.8.2
requests==2.26.0
s3transfer==0.5.0
sgmllib3k==1.0.0
six==1.16.0
soupsieve==2.2.1
tabulate==0.8.9
typing-extensions==3.10.0.2
urllib3==1.26.7
websockets==10.0
yarl==1.6.3
youtube-dl==2021.6.6
