aiohttp==3.7.4
async-timeout==3.0.1
attrs==20.2.0
beautifulsoup4==4.9.1
boto3==1.15.4
botocore==1.18.4
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
discord.py==1.4.1
idna==2.10
jmespath==0.10.0
multidict==4.7.6
pycparser==2.20
PyNaCl==1.4.0
python-dateutil==2.8.1
requests==2.24.0
s3transfer==0.3.3
six==1.15.0
soupsieve==2.0.1
tabulate==0.8.7
typing-extensions==3.7.4.3
urllib3==1.25.10
websockets==9.1
yarl==1.6.0
youtube-dl==2020.9.20
